html {
    display: block;
    margin: auto;
    font-size: 85%;
}

body {
    font-size: 1rem;
}

* {
    box-sizing: border-box;
}

.flex-flow {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: center;
}

.flex-one-item-center {
    flex: 1 0 70%;
    margin: 0.5rem auto;
}

.flex-two-items-center {
    flex: 1 0 35%;
    margin: 0.5rem auto;
}

.flex-centered {
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

img {
    margin: auto;
    margin-bottom: 1rem;
    display: block;
    width: 28rem;
    height: auto;
}

table {
    margin: 0.5rem auto;
    border-collapse: collapse;
    border: 2px solid rgb(200, 200, 200);
    font-family: sans-serif;
}

thead,
tfoot {
    background-color: #3f87a6;
    color: #fff;
}

tbody {
    background-color: #e4f0f5;
}

caption {
    padding: 0.6rem;
    caption-side: bottom;
}

th,
td {
    border: 1px solid rgb(190, 190, 190);
    padding: 0.2rem 0.4rem;
}

tr {
    height: 100%;
    vertical-align: middle;
}

td {
    height: 100%;
    min-width: 12rem;
    text-align: center;
}

a,
p {
    display: block;
    text-align: center;
}

.btn_full {
    display: block;
    margin: auto;
    text-align: center;
    background-color: white;
    width: 100%;
}

#btn_on {
    display: inline-block;
    font-size: 1.5rem;
    padding: 1rem 2rem;
    color: white;
    background-color: #4CAF50; /* Green */
}

#btn_off {
    display: inline-block;
    font-size: 1.5rem;
    padding: 1rem 2rem;
    color: white;
    background-color: #FF0000; /* Red */
}


div[state="nok"] {
    content: "NOK";
    background-color: rgb(250, 84, 84);
}
div[state="on"] {
    content: "ON";
    background-color: rgb(139, 255, 143);
}
div[state="off"] {
    content: "OFF";
    background-color: rgb(211, 211, 211);
}
div[state="na"] {
    content: "Unknown...";
    background-color: rgb(211, 211, 211);
}

input {
    width: 6rem;
}
input:disabled+label {
    color: #ccc;
}