html {
    display: table;
    margin: auto;
    font-size: 85%;
}

body,
input {
    font-size: 1rem;
}

img {
    margin: auto;
    margin-bottom: 1rem;
    display: block;
    width: 28rem;
    height: auto;
}

thead,
tfoot {
    background-color: #3f87a6;
    color: #fff;
}

tbody {
    background-color: #e4f0f5;
}

caption {
    padding: 0.6rem;
    caption-side: bottom;
}

table {
    margin: auto;
    border-collapse: collapse;
    border: 2px solid rgb(200, 200, 200);
    font-family: sans-serif;
}

div.statedisplay {
    margin: auto;
    content: "OK";
    display: table;
    background-color: rgb(139, 255, 143);
    font-size: 1.0rem;
}
div[state="nok"] {
    content: "NOK";
    background-color: rgb(250, 84, 84);
}
div[state="on"] {
    content: "ON";
    background-color: rgb(139, 255, 143);
}
div[state="off"] {
    content: "OFF";
    background-color: rgb(211, 211, 211);
}

input:disabled+label {
    color: #ccc;
  }

td,
th {
    border: 1px solid rgb(190, 190, 190);
    padding: 0.3rem 0.6rem;
}

td {
    text-align: center;
}

a,
p {
    display: block;
    text-align: center;
}

.button_large {
    border: none;
    color: white;
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5rem;
}

.checkboxes {
    text-align: left;
}

#btn_clear {
    display: block;
    margin: auto;
    text-align: center;
}

#btn_on {
    background-color: #4CAF50; /* Green */
}

#btn_off {
    background-color: #FF0000; /* Red */
}

.onoffswitch {
    margin: auto; position: relative; width: 90px;
}
.onoffswitch-checkbox {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #34A7C1; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 18px; margin: 6px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 56px;
    border: 2px solid #999999; border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}