html {
    /* font-size: 16px; */
}

body {
    /* font-size: 1rem; */
}

* {
    box-sizing: border-box;
}

ul.grid_container {
    display: grid;
    list-style: none;
    padding: 0;
}
ul.main_grid {
    grid-auto-rows: minmax(8rem, auto);
    grid-gap: 0.5rem;
    justify-content: center;
    justify-items: center;
}

@media screen and (min-width: 65rem) {
    ul.main_grid {
      grid-template-columns: repeat(2, 1fr);
    }
    li.grid_item_two_cols {
        grid-column: 1 / span 2;
    }
    li.grid_item_lr:nth-of-type(even) {
        justify-self: right;
    }
    li.grid_item_lr:nth-of-type(odd) {
        justify-self: left;
    }
}

.flex-centered {
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

img {
    margin: auto;
    margin-bottom: 1rem;
    display: block;
    width: 28rem;
    height: auto;
}

table {
    margin: 0;
    border-collapse: collapse;
    border: 2px solid rgb(200, 200, 200);
    font-family: sans-serif;
}

thead,
tfoot {
    background-color: #3f87a6;
    color: #fff;
}

tbody {
    background-color: #e4f0f5;
}

tr {
    height: 100%;
    vertical-align: middle;
}

th,
td {
    border: 1px solid rgb(190, 190, 190);
    padding: 0.2rem 0.4rem;
    text-align: center;
}

td {
    height: 100%;
    min-width: 12rem;
}

a,
p {
    display: block;
    text-align: center;
}

#btn_clear_shutdown {
    display: block;
    margin: auto;
    background-color: white;
    /* width: 100%; */
}

#btn_pwm_on {
    display: inline-block;
    font-size: 1.5rem;
    padding: 1rem 2rem;
    color: white;
    background-color: #4CAF50; /* Green */
}

#btn_pwm_off {
    display: inline-block;
    font-size: 1.5rem;
    padding: 1rem 2rem;
    color: white;
    background-color: red;
}


div.state_vw[disabled] {
    background-color: rgb(211, 211, 211);
}

#connection_vw[state="ok"] {
    background-color: rgb(139, 255, 143);
}
#connection_vw[state="nok"] { 
    background-color: rgb(250, 84, 84);
}
#power_pwm_vw[state="false"] {
    background-color: rgb(139, 255, 143);
}
#power_pwm_vw[state="true"] {
    background-color: red;
}
#shutdown_vw[state="true"] {
    background-color: rgb(250, 84, 84);
}
#shutdown_vw[state="false"] {
    background-color: rgb(139, 255, 143);
}

input {
    font-size: 1rem;
}
input[type="number"] {
    width: 6rem;
}