#ifndef WIFI_CONFIG_HPP__
#define WIFI_CONFIG_HPP__
#include "IPAddress.h"

const IPAddress conf_ap_ip{192,168,4,1};
const IPAddress conf_ap_gateway{192,168,4,1};
const IPAddress conf_ap_subnet{255,255,255,0};

constexpr const char* conf_ap_ssid = "isocal";
constexpr const char* conf_ap_psk = "123FOO456";

constexpr const char* conf_sta_ssid = "isocal";
constexpr const char* conf_sta_psk = "123FOO456";

constexpr const char* conf_host_name = "isocal";
const String conf_dns_domain = "isocal.local";

constexpr bool conf_use_mdns = false;

#endif
