#ifndef WIFI_CONFIG_HPP__
#define WIFI_CONFIG_HPP__

const IPAddress ap_ip{192,168,4,1};
const IPAddress ap_gateway{192,168,4,1};
const IPAddress ap_subnet{255,255,255,0};

const char* ap_ssid = "test_ap_ssid";
const char* ap_psk = "123FOO456";

const char* sta_ssid = "test_sta_ssid";
const char* sta_psk = "123FOO456";

const bool use_mdns = false;

const char* hostName = "test_host";

#endif
